{
    "rules": {
      "no-unused-vars": "off",
      "prettier/prettier": "off",
      "no-dupe-else-if": "off",
      "prefer-spread": "off",
      "no-unsafe-optional-chaining": "off",
      "react/no-unescaped-entities": "off",
      "react/no-children-prop": "off",
      "react/jsx-key": "off",
      "react/display-name": "off",
      "no-undef": "off",
      "no-constant-condition": "off",
      "react/react-in-jsx-scope": "off",
      "react/prop-types": "off"
    },
    "parser": "@babel/eslint-parser",
    "parserOptions": {
      "requireConfigFile": false,
      "ecmaVersion": 2021,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "env": {
      "browser": true,
      "jest": true,
      "node": true
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "plugins": ["prettier", "react", "jsx-a11y"],
    "extends": [
      "plugin:react/recommended",
      "plugin:jsx-a11y/recommended",
      "eslint:recommended",
      "prettier"
    ]
  }
  