@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  font-family: "DM Sans";
}
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 8px;
  background-color: unset;
}

*::-webkit-scrollbar-thumb {
  background-color: #0C203C;
}